@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Valorant';
    src: url('../assets/font/Valorant\ Font.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'open sans', sans-serif;
}

header {
    padding: 20px 0;
    transition: all 0.5s;
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.header-content a {
    text-decoration: none;
    color: #fff;
}

.header-content h1 {
    font-family: 'Valorant', sans-serif;
    font-size: 4rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #fff;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}

.header-scrolled {
    background: #0a141ecc;
    padding: 12px 0;
}

/* start head section */
.head-section {
    width: 100%;
    padding: 120px 0 0;
    background: linear-gradient(35deg, #ff4656ee, #0a141eee 80%), url('../assets/img/hero-bg.jpg') center no-repeat;
}

.head-section article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.head-section article div {
    display: flex;
    flex-direction: column;
}

.head-section article h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.head-section article p {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    max-width: 500px;
    opacity: 0.75;
}

.head-section article .btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.5s;
    width: 30%;
}

.head-section article .btn:hover {
    background-color: #fff;
    color: #000;
}

.head-section article img {
    width: 600px;
    height: 600px;
    animation: floating 3s ease-in-out infinite alternate;
}

.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 80px;
    z-index: 5;
    position: relative;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}
/* end head section */

/* start learn more section */

.learn-more {
    background-color: #ffeff2;
    padding: 100px 0;
    overflow: hidden;
}

.learn-more article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #444;
}

.learn-more article h2 {
    font-size: 3.2rem;
}

.learn-more article p {
    font-size: 1.8rem;
}

.learn-more article .div-line {
    width: 100px;
    height: 5px;
    background-color: #ff4656;
    margin: 15px;
}

.card-pos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    padding: 22px;
    margin: 0 auto;
}

.card-features {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 45%;
    margin-top: 3%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.card-features .icon {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
    position: relative;
}

.card-features .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.card-features .icon :nth-child(2) {
    font-size: 36px;
    transition: .5s;
    position: relative;
}

.card-features h3 {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card-features p {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.75;
    margin: 20px;
}
/* end learn more section */

footer {
    color: #fff;
    background: linear-gradient(45deg, #0a141eee 20%, #ff4654ee), url('../assets/img/hero-bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 22px;
    font-family: 'Poppins', sans-serif;
}

footer p {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.75;
}

/* back to top arrow */
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 200;
}

.back-to-top svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #0a141e;
    color: #fff;
    transition: all .4s;
    animation: fade 1.5s ease-in-out alternate;
}

.back-to-top svg:hover {
    background: #ff4654;
    color: #fff;
    transform: translateY(-5px);
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #ff4654
}

::-webkit-scrollbar-thumb {
    background-color: #0a141e
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px,0%)
    }

    100% {
        transform: translate(-90px,0%)
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px,0%)
    }

    100% {
        transform: translate(-90px,0%)
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}