@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Valorant';
    src: url('../assets/font/Valorant\ Font.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'open sans', sans-serif;
}

header {
    padding: 20px 0;
    transition: all 0.5s;
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.header-content a {
    text-decoration: none;
    color: #fff;
}

.header-content h1 {
    font-family: 'Valorant', sans-serif;
    font-size: 4rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #fff;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}

.header-scrolled {
    background: #0a141ecc;
    padding: 12px 0;
}

/* start head section */
.head-section {
    width: 100%;
    padding: 120px 0 0;
    background: linear-gradient(35deg, #ff4656ee, #0a141eee 80%), url('../assets/img/hero-bg.jpg') center no-repeat;
}

.head-section article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.head-section article div {
    display: flex;
    flex-direction: column;
}

.head-section article h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.head-section article p {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    max-width: 500px;
    opacity: 0.75;
}

.head-section article .btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.5s;
    width: 30%;
}

.head-section article .btn:hover {
    background-color: #fff;
    color: #000;
}

.head-section article img {
    width: 600px;
    height: 600px;
    animation: floating 3s ease-in-out infinite alternate;
}

.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 80px;
    z-index: 5;
    position: relative;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}
/* end head section */

/* start learn more section */

.learn-more, .agents-details, .maps-details, .weapons-details {
    background-color: #ffeff2;
    padding: 100px 0;
    overflow: hidden;
}

.learn-more article, .agents-details article, .maps-details article, .weapons-details article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #444;
}

.learn-more article h2, .agents-details article h2, .maps-details article h2, .weapons-details article h2 {
    font-size: 3.2rem;
}

.learn-more article p, .agents-details article p, .maps-details article p, .weapons-details article p {
    font-size: 1.8rem;
}

.div-line {
    width: 100px;
    height: 5px;
    background-color: #ff4656;
    margin: 15px;
}

.card-pos, .agents-pos, .maps-pos, .weapons-pos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    padding: 22px;
    margin: 0 auto;
}

.card-features {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 45%;
    margin-top: 3%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.card-features .icon {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
    position: relative;
}

.card-features .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.card-features .icon :nth-child(2) {
    font-size: 36px;
    transition: .5s;
    position: relative;
}

.card-features h3 {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card-features p {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.75;
    margin: 20px;
}
/* end learn more section */

/* start agent section */
.agents-pos {
    width: 100%;
}

.agent-card {
    background-color: #fff;
    padding: 22px;
    margin: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 700px;
    border: 2px solid rgba(255, 70, 86, 0.7);
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
    position: relative;
}

.agent-card .agent-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.agent-btn {
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: #ff4656;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 400;
    transition: ease-in-out .3s;
    font-family: 'Poppins', sans-serif;
    z-index: 100;
}

.agent-btn:hover {
    background-color: #fff;
    color: #ff4656;
    border: 2px solid #ff4656;
}

.agent-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 70, 86, 0.7);
    z-index: -1;
}

.agents-box-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: rgba(40, 40, 86, 0.7);
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
    position: relative;
}

.agents-box-details {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 12px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.agents-box-details .name-role > * {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.agents-box-details .name-role h2 {
    font-size: 2.6rem;
    font-weight: 700;
}

.agent-abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ability-img button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.ability-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 22px;
    transition: ease-in-out 0.2s;
}

.ability-img img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.75rem #ff4656);
}

.ability-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: rgb(40, 40, 86);
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 55%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 0 22px;
    width: 100%;
}
/* end agent section */

/* start maps section */
.maps-pos {
    width: 100%;
}

.maps-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.map-card {
    background-color: #fff;
    color: #fff;
    padding: 22px;
    margin: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 200px;
    clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
    position: relative;
    transition: all ease-in-out 0.4s;
}

.map-card:hover {
    transform: scale(1.05);
}

.map-card img {
    transition: all ease-in-out 0.7s;
}

.map-card:hover.map-card img {
    transform: scale(0.5);
}

.map-card h2 {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.map-card p {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* end maps section */

/* start selected map section */
.selected-map {
    width: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.callout {
    position: absolute;
    left: 3980.9062px;
    top: -5938.758px;
    background-color: red;
}  
/* end selected map section */

/* start weapons section */
.weapons-pos {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.weapon-card {
    background-color: rgba(40, 40, 86, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
    position: relative;
    transition: all ease-in-out 0.3s;
    padding: 22px;
    margin: 22px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.weapon-card button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.weapon-card img {
    width: 100%;
}

.weapon-card:hover {
    transform: scale(1.05);
}
/* end weapons section */

/* start modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: #000;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 22px;
    clip-path: polygon(5% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
}

.modal-content h2 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.modal-content p {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 22px;
}

.modal-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4654;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.modal-content button:hover {
    background-color: #fff;
    color: #ff4654;
    border: 1px solid #ff4654;
}

.modal-weapon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-weapon img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-weapon h2 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.modal-weapon p {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 22px;
}

.weapon-infos, .weapon-img-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weapon-img-price {
    position: relative;
}

.weapon-img-price p {
    position: absolute;
    bottom: 2px;
    left: 2px;
    margin: 0;
}

.skin-carrousel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 42px 0;
}

.skin-carrousel img {
    width: 100%;
    margin: 16px 12px;
}
/* end modal */

footer {
    color: #fff;
    background: linear-gradient(45deg, #0a141eee 20%, #ff4654ee), url('../assets/img/hero-bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 22px;
    font-family: 'Poppins', sans-serif;
}

footer p {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.75;
}

/* GLOBAL USES */
.hide-infos {
    transition: all 0.5s ease-in-out;
    display: none;
}

.txt-error {
    color: #ff4654;
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;
}

/* back to top arrow */
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 200;
}

.back-to-top svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #0a141e;
    color: #fff;
    transition: all .4s;
    animation: fade 1.5s ease-in-out alternate;
}

.back-to-top svg:hover {
    background: #ff4654;
    color: #fff;
    transform: translateY(-5px);
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #ff4654
}

::-webkit-scrollbar-thumb {
    background-color: #0a141e
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px,0%)
    }

    100% {
        transform: translate(-90px,0%)
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px,0%)
    }

    100% {
        transform: translate(-90px,0%)
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px,0%)
    }

    100% {
        transform: translate(85px,0%)
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}